
@import "tailwindcss";


body {
  background: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  background:
    radial-gradient(
  at top left,
  #101829 0%,
  #020617 45%,
  #022c22 100%
);
}
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background:
    radial-gradient(circle at 20% 30%, rgba(80,150,255,0.15), transparent 40%),
    radial-gradient(circle at 80% 60%, rgba(80, 255, 217, 0.12), transparent 45%);
  filter: blur(80px);
  z-index: -2;
}
h1 {
  text-align: center;
}
.movies {
  display: grid;
  padding-left: 10px;
  padding-right: 10px;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  margin-top: 20px;


}
.movie-card {
  position: relative;
  background: radial-gradient(circle at top left, #1e3a8a, #111);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s;

}
.movie-card:hover {
  transform: scale(1.05);
  background: radial-gradient(circle at bottom right, #3b82f6, #111);
}
.movie img {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 2 / 3;
  object-fit: cover;

}
.title {
  margin-top: 10px;
  font-size: 16px;

}
.date {
  font-size: 14px;
  color: #aaa;
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 10px;
  font-size: 14px;
  border-radius: 0 0 10px 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}

.pagination button {
  padding: 5px 10px;
  border-radius: 5px;
  background: #1e3a8a;
  color: #fff;
  border: none;
  cursor: pointer;
}

.pagination button:disabled {
  background: #555;
  cursor: not-allowed;
}


@media (max-width: 431px) {
body {
  width: 100%;
}
.movies {
  grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 10px;
}
.movie-card {
  width: 100%;
}
header{
  height: 56px;
}
.appheader {
  font-size: 30px;
  left: 143px;
}

}


@media (min-width: 640px) {
  .movies {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .movies {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .movies {
    grid-template-columns: repeat(5, 1fr);
  }
}
